      <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">VestEd</h1>
          <p class="lead mb-5 text-white-50">Getting to the bottom of internet hype in order to get to the bottom of stock trends.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>We use modern artificial intelligence in order to track relations between the sentiment of online posts regarding stock prices and the historic stock prices themselves in order to see if, and what, trends exist between the two.</p>
        <p>By tracking the general news opinion on a speific stock, and then watching to see if the stock goes up or down we can determine the significance of a sites opinion and accuracy.</p>
      </div>
    </div>
    <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Trending Stocks</h2>
      <hr>
    </div>
  </div>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://i0.wp.com/statisticsbyjim.com/wp-content/uploads/2018/09/normal_probability_plot_C3-300x200.png?resize=300%2C200" alt="">
          <div class="card-body">
            <h4 class="card-title">Facebook</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://i0.wp.com/statisticsbyjim.com/wp-content/uploads/2018/09/normal_probability_plot_C3-300x200.png?resize=300%2C200" alt="">
          <div class="card-body">
            <h4 class="card-title">Amazon</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://i0.wp.com/statisticsbyjim.com/wp-content/uploads/2018/09/normal_probability_plot_C3-300x200.png?resize=300%2C200" alt="">
          <div class="card-body">
            <h4 class="card-title">Netflix</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->