<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">VestEd</h1>
        <p class="lead mb-5 text-white-50">Getting to the bottom of internet hype in order to get to the bottom of stock trends.</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Recomended New Sites</h2>
      <hr>
      <p>Based on our data, we have determined the accuracy and general sentiment of these major news sites in order to better suggest to you whether or not to take their articles with a grain of salt.<p>
    </div>

    <div class="col-md-4 mb-5">
    <h2>More content</h2>
    <hr>
    <p><%= link_to "Home", root_path %></p>
    <p><%= link_to "Whats the news like right now?", trend_path %><p>
    </div>
  </div>
  <div class="row">
  <div class="col-md-8 mb-5">
    <h2>New Sites</h2>
    <hr>
  </div>
</div>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="https://s3.amazonaws.com/user-media.venngage.com/688961-bd0a983469d19b30d3eed829e7a28c8d.png" alt="">
        <div class="card-body">
          <h4 class="card-title">NY Times</h4>
          <p class="card-text">General Sentiment: Negative</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="https://s3.amazonaws.com/user-media.venngage.com/688961-bd0a983469d19b30d3eed829e7a28c8d.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Fox News</h4>
          <p class="card-text">General Sentiment: Negative<p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100">
        <img class="card-img-top" src="https://www.digitalmarketingstrategies.com/hubfs/75%20Image%20for%20Blog%20Post.png" alt="">
        <div class="card-body">
          <h4 class="card-title">Riley Shaw and His Personal Opinion</h4>
          <p class="card-text">General Sentiment: Positive</p>
        </div>
      </div>
    </div>
  </div>
</div>