.content {
  background-color: #3A3E46;
  min-height: calc(100vh - 84px);
  display: inline-block;
  flex-direction: column;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 75%;
}

.data-insights{
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.text-wrapper{
  width: 75%;
  display: inline-block;
}

p {
  width: 100%;
  margin: 10px 0px;
}
