.chat-window {
    height: 100%;
    width: 100%;
    position: absolute;
}

.sc-chat-window {
    position: relative !important;
    right: 20vw;
    bottom: 300px;
    height: 300px;
}

.sc-launcher {
    position: relative !important;
    right: 0px;
    bottom: 0px;
}

.sc-launcher:hover {
    cursor: pointer;
}

.sc-launcher .sc-open-icon, .sc-launcher .sc-closed-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.sc-message a {
  color: #4e8cff;
}

.Linkify > a {
  color: #4e8cff;
}